Apologies for the delay, we are processing your payment for KSh $amount, Receipt Number paymenthub:$transactionid.
We will let you know when it's credited into your oaf account. Call us on  0800723355 if you have any questions
